<!-- Code Reference 
    # University of London Advance Web Development module
    # Lectures and Labs presented by Dr Daniel Buchan -->
    {% extends "base.html" %}
    {% load bootstrap4 %}
    
    {% block content %}
    <div class="container-fluid p-5">
        {% if updated %}
            <h6>Your Password Has Been Updated</h6>
        {% else %}
            <h4>Change Password Here:</h4>
            <form method="post" accion="/change-password/" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form.as_p }} 
                <br>
                <input class="col-2 btn btn-success" type="submit" value="Change Password"> 
                <a class="col-2 btn btn-outline-secondary ml-4" href="/teacher/profile" role="button">Cancel</a>
            </form>
        {% endif %}
    </div>

    {% endblock %}