{% load bootstrap4 %}
        <footer class="footer">
            <div class="container-fluid bg-dark">
                <div class="row justify-content-around p-4" id="footer">
                    <a class="text-light"  href="/">Home</a>
                    <a class="text-light" href="#">Chat</a>
                    <a class="text-light" href="/courses">Courses</a>
                </div>
                <div class="row justify-content-around text-light">
                    <p>Copyrights: 2024 Mayra Torres</p>
                </div>
            </div>
        </footer>
    </body>
</html>