{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %} 
<div class="container-fluid">
    <div class="row justify-content-around">
        <img class="img-fluid" width=55% height="auto" src="static/images/Logo.png" alt="Logo">
    </div>
    <div class="">
        <p>eIntellectual is an e-learning application where students can take courses from a range of subjects.
            Teachers can create courses and see their enrolled students. 
            Users can use the chat to have conversation with fellow students </p>
        <h4>For Tutors</h4>
    </div>
    <div class="bg-white mb-3 p-3">
        <h5>Django Admin Credentials</h5>
        <p>Username: <strong>mayra</strong></p>
        <p>Email: <strong>mayra@email.com</strong></p>
        <p>Password: <strong>longestpass098</strong></p>
    </div>
    <div class="bg-white mb-3 p-3">
        <h5>System</h5>
        <p>OS: <strong>Windows 11 with Windows Subsystem for Linux 2(WSL2)</strong></p>
        <p>Python Version: <strong>3.8.10</strong></p>
    </div>
    <div class="bg-white mb-3 p-3">
        <h5>Interface testing data</h5>
        <p>Teacher User: username <strong>Laurenroberson2</strong> password <strong>longestpass098</strong></p>
        <p>Add teacher: <strong>JessicaRoberts1, TCJR123456, Jessica, Roberts, 10/23/1980, jessicaroberts1@email.com</strong></p>
        <p>Student User: username <strong>Davidwells1</strong> password <strong>longestpass098</strong></p>
        <p>Add Student: <strong>LauraRoberts1, ACJR123456, Laura, Roberts, 10/23/1985, lauraroberts1@gmail.com</strong></p>
        <p>Add Course: <strong>bg1001, Cells, biology, Lauren, This course is for biology</strong></p>
        <p>Add Resource: <strong>bg1001.1.0, This resource is for biology</strong></p>
        <p>Search: <strong>Jessica</strong></p>
    </div>
</div>


{% endblock %}