<!-- Refernce code -->
    <!-- https://getbootstrap.com/docs/4.0/components/card/ -->


{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid p-5">
    <h4>Student Home Page:</h4>
    <div class="row d-flex p-3">
        <div class="col-sm-2 media">
            <a class="align-self-center" href="#">
                <img class="img-thumbnail" src="/images/{{ student.photo }}" alt="{{ student.name }} {{ student.last_name }}" width="150" height="150" style="object-fit: cover;">
            </a>
        </div>
        <div class="col">
            <h4>{{student.user_name.title}}</h4>
            <h6>{{student.name.title}} {{student.last_name.title}} </h6>
            <p>student since: {{student.start_date.date}} </p>
            <br>
            <h6>{{student.email}}</h6>
            <p>My Enrollmets Page: <a href="/student/enrollments">{{number_courses}} courses</a></p>
        </div>
    </div>
    <div class="p-3 bg-white">
        <h5>Status:</h5>
        <div class=" p-3 ">
            {% if own_status %}
            <form class="form-inline justify-content-around" id="studentStatus" method="post">
                {% csrf_token %}
                {{status_form.as_p}}
                <input class="btn btn-primary" type="submit" name="submit" value="Submit">
            </form>
            {% endif %}
            <table class="table">
                <tr>
                    <th>Content</th>
                    <th>Timestamp</th>
                </tr>
                {% for status in status_list %}
                <tr>
                    <td class="col-8">{{status.content}}</td>
                    <td>{{status.timestamp}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class=" m-3">
        <h5>My Recent Enrollments:</h5>
        <!-- the following code is from the refernce mentioned above -->
        <div class="row justify-content-around">
            
            {% for course in enrollments_list %}
            <div class="card w-25 m-1" >
                <img class="card-img-top" src="/images/{{course.image}}" alt="{{course.name.title}} imahe">
                <div class="card-body">
                  <h5 class="card-title">{{course.code.upper}}</h5>
                  <h6 class="card-title">{{course.name.title}} </h6>
                  <p class="card-text">{{course.category.title}}</p>
                  <a href="/course/{{course.pk}}" class="btn btn-primary">Go to Course</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
